/target
/.vscode
.DS_Store

# clangd
/.cache
compile_commands.json

# downloaded opensbi binary
/fw_dynamic.bin

*.asm
*.img
actual.out
*.log
rusty-tags.vi
apps/c/redis/
apps/c/iperf/
apps/c/wamr/
apps/c/nginx/
apps/c/python3/
