[package]
name = "ruxruntime"
version = "0.1.0"
edition = "2021"
authors = [
    "Yuekai Jia <equation618@gmail.com>",
    "yanjuguang <coolyanjg@163.com>",
    "Zheng Wu <hello_weekday@163.com>",
    "AuYang261 <xu_jyang@163.com>",
]
description = "Runtime library of Ruxos"
license = "GPL-3.0-or-later OR Apache-2.0"
homepage = "https://github.com/syswonder/ruxos"
repository = "https://github.com/syswonder/ruxos/tree/main/modules/ruxruntime"

[features]
default = []

smp = ["ruxhal/smp"]
irq = ["ruxhal/irq", "ruxtask?/irq", "percpu", "kernel_guard", "ruxdtb/irq"]
tls = ["ruxhal/tls", "ruxtask?/tls"]
alloc = ["axalloc", "dtb", "ruxdtb"]
paging = ["ruxhal/paging", "ruxmm/paging", "lazy_init", "ruxtask/paging"]
rtc = ["ruxhal/rtc"]
virtio_console = []
gic-v3 = ["ruxhal/gic-v3"]

multitask = ["ruxtask/multitask", "dep:ruxfutex", "rand"]
rand = ["dep:ruxrand"]
fs = ["ruxdriver", "ruxfs", "ruxtask/fs"]
blkfs = ["fs"]
virtio-9p = ["fs", "rux9p"]
net-9p = ["fs", "rux9p"]
net = ["ruxdriver", "ruxnet"]
display = ["ruxdriver", "ruxdisplay"]
signal = ["ruxhal/signal", "ruxtask/signal"]

musl = ["dep:ruxfutex"]

# for testing
myfs = ["fs", "multitask", "alloc", "ruxfs/myfs", "ruxtask/test"]
fatfs = ["fs", "multitask", "alloc", "blkfs", "ruxfs/fatfs", "ruxtask/test"]

[dependencies]
cfg-if = "1.0"
ruxhal = { path = "../ruxhal" }
axlog = { path = "../axlog" }
ruxconfig = { path = "../ruxconfig" }
axalloc = { path = "../axalloc", optional = true }
ruxdriver = { path = "../ruxdriver", optional = true }
ruxfs = { path = "../ruxfs", optional = true }
rux9p = { path = "../rux9p", optional = true }
ruxnet = { path = "../ruxnet", optional = true }
ruxdisplay = { path = "../ruxdisplay", optional = true }
ruxtask = { path = "../ruxtask", optional = true }
ruxmm = { path = "../ruxmm" }
axsync = { path = "../axsync", optional = true }
ruxfutex = { path = "../ruxfutex", optional = true }
ruxdtb = { path = "../ruxdtb", optional = true }
ruxrand = { path = "../ruxrand", optional = true }
ruxtty = { path = "../ruxtty" }

crate_interface = "0.1.1"
percpu = { path = "../../crates/percpu", optional = true }
kernel_guard = { version = "0.1.0", optional = true }
lazy_init = { path = "../../crates/lazy_init", optional = true }
dtb = { path = "../../crates/dtb", optional = true }


[dev-dependencies]
log = "0.4"
ruxdriver = { path = "../ruxdriver", features = ["block", "ramdisk", "dyn"] }
driver_block = { path = "../../crates/driver_block", features = ["ramdisk"] }
axio = { path = "../../crates/axio", features = ["alloc"] }
ruxfs = { path = "../ruxfs" }
ruxtask = { path = "../ruxtask" }
axfs_vfs = { path = "../../crates/axfs_vfs" }
axfs_ramfs = { path = "../../crates/axfs_ramfs" }
